<div id="viewers">
  <div id="leftPanel" #leftPanel class="viewer"></div>
  <div id="middlePanel" #middlePanel class="viewer"></div>
  <div id="rightPanel" #rightPanel class="viewer"></div>
</div>

<div id="nudge-diff-tool">
  <div class="action-group">
    <div id="rotateCounterClockwise" class="action">
      <img src="/assets/rotate_left.svg"><img>
    </div>
    <div id="rotateClockwise" class="action">
      <img src="/assets/rotate_right.svg"><img>
    </div>
  </div>
  <div>
    <div id="translateUp" class="action">
      <img src="/assets/arrow_up.svg"><img>
    </div>
    <div class="action-group">
      <div id="translateLeft" class="action">
        <img src="/assets/arrow_left.svg"><img>
      </div>
      <div id="translateRight" class="action">
        <img src="/assets/arrow_right.svg"><img>
      </div>
    </div>
    <div id="translateDown" class="action">
      <img src="/assets/arrow_down.svg"><img>
    </div>
  </div>
  <div class="action-group">
    <div id="scaleOut" class="action">
      <img src="/assets/size_decrease.svg"><img>
    </div>
    <div id="scaleIn" class="action">
      <img src="/assets/size_increase.svg"><img>
    </div>
  </div>
</div>