/**
  Copied from https://www.pdftron.com/documentation/web/get-started/angular/exist-project
*/
.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.header {
  height: 60px;
  padding: 8px 8px 8px 16px;
  background: #00a5e4;
  box-sizing: border-box;
  font-size: 1.2em;
  line-height: 44px;
  color: white;
}
app-webviewer {
  flex: 1;
  margin: 8px;
  -webkit-box-shadow: 1px 1px 10px #999;
          box-shadow: 1px 1px 10px #999;
}
.viewer { width: 100%; height: 600px; }

/**
  Copied from diff.css
*/

#nudge-diff-tool {
  padding: 5px;
  z-index: 200;
  opacity: 0.75;
  display: flex;
  justify-content: space-between;
  position:absolute;
  bottom:5px;
  right:5px;
  flex-direction: column;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 4px;
  background-color: #EEEEEE;
}

#nudge-diff-tool .action-group {
  display: flex;
  justify-content: space-between;
}

#nudge-diff-tool .action{
  cursor: pointer;
  user-select: none;
  padding-left: 4px;
  padding-top: 3px;
  display: flex;
  margin: 5px;
  background-color: rgb(218, 218, 218);
  border-radius: 4px;
}

#nudge-diff-tool #translateDown, #nudge-diff-tool #translateUp {
  padding-top: 3px;
  display: flex;
  justify-content: center;
}

#nudge-diff-tool #scaleOut, #nudge-diff-tool #scaleIn {
  background-color: #BDBDBD;
}

/**
  Style is not applied to scaleOut and scaleIn due to CSS specificity rule
  so restate those CSS classes again
*/
#nudge-diff-tool .action:hover, #nudge-diff-tool #scaleOut:hover, #nudge-diff-tool #scaleIn:hover {
  background-color: #000000;
  opacity: 0.5;
}